
    <!-- -------------NAVBAR------------------ -->

    <nav>
      <div class="logo">
          <p>Service24</p>
      </div>
      <ul>
          <li> <a routerLink="/home"> Home </a> </li>
          <li> <a routerLink="/about"> About </a> </li>
          <li> <a href="#"> Contact </a> </li>
          <li> <a href="#"> Servic  es </a> </li>
          <li> <a routerLink="/gallery"> Galllery </a> </li>
      </ul>
  </nav>



   <!-- Gallery Photo -->

   <div class="container bg-dark">

    <div class="row mt-4">
     <div class="column">
         <div class="img-hover-zoom">
             <img src="/assets/bike1.jpg"  alt="">
                 <!-- <h1>TAJ MAHAL</h1> -->
         </div>
         <div class="img-hover-zoom">
             <img src="/assets/bike2.jpg" alt="">
                 <!-- <h1>Bara-Imambara</h1> -->

         </div>
         <div class="img-hover-zoom">
             <img src="/assets/bike3.jpg" alt="">
                 <!-- <h1>TAJ MAHAL</h1> -->

         </div>
         <div class="img-hover-zoom">
             <img src="/assets/bike4.jpg" alt="">
                 <!-- <h1>lucknow</h1> -->

         </div>
     </div>

     <div class="column">
         <div class="img-hover-zoom">
             <img src="/assets/bike5.jpg" alt="">
                 <!-- <h1>dhamek-stupa-sarnath-varanasi</h1> -->

         </div>
         <div class="img-hover-zoom">
             <img src="/assets/bike6.jpg" alt="">
                 <!-- <h1>Dudhwa National Park</h1> -->

         </div>
         <div class="img-hover-zoom">
             <img src="/assets/bike7.jpg" alt="">
                 <!-- <h1>Fatehpur-Sikri-Agra</h1> -->

         </div>
         <div class="img-hover-zoom">
             <img src="/assets/bike8.jpg" alt="">
                 <!-- <h1>ram-mandir</h1> -->

         </div>
     </div>

     <div class="column">
         <div class="img-hover-zoom">
             <img src="/assets/bike9.jpg" alt="">

         </div>
         <div class="img-hover-zoom">
             <img src="/assets/bike10.jpg" alt="">

         </div>
         <div class="img-hover-zoom">
             <img src="/assets/bike11.jpg" alt="">

         </div>
         <div class="img-hover-zoom">
             <img src="/assets/bike12.jpg" alt="">

         </div>
     </div>

     <div class="column">
       <div class="img-hover-zoom">
           <img src="/assets/bajaj-pulser-180.png" alt="">

       </div>
       <div class="img-hover-zoom">
           <img src="/assets/royal-350-grey.jpg" alt="">

       </div>
       <div class="img-hover-zoom">
           <img src="/assets/royal-enfield-red.jpg" alt="">

       </div>
       <div class="img-hover-zoom">
           <img src="/assets/rolls-royce-phantom.jpg" alt="">

       </div>
   </div>

 </div>

 </div>

